@import url("https://fonts.googleapis.com/css?family=Raleway:400,600&display=swap");
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap');
.App {
  text-align: center;
  /* height: 100%; */
  min-height: 100%;
}
html,
body,
#app,
#app > div {
  height: 100%;
  font-family: "roboto";
}

#root {
  height: 100%;
}

.questionTitle {
  font-size: 200%;
  font-weight: 600;
  padding-top: 5%;
  padding-bottom: 2%;
  /* font-family: "font-family: 'Roboto', sans-serif"; */
  animation: fadein 2s;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari and Chrome */
  -o-animation: fadein 2s; /* Opera */

  transition: all 0.2s ease-in-out;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.optionScreen {
  display: flex;
  flex-direction: row;
  height: auto;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.optionColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: auto;
  margin: 1.5%;
  position: relative;
}

.resultColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: auto;
  margin: 1.5%;
  padding: 5%;
  background-color: rgba(255, 255, 255, 0.8);
  position: relative;
}

.sliderColumn {
  display: block;

  width: 50%;
  height: auto;
  margin: 1.5%;
  padding: 5%;
  background-color: rgba(255, 255, 255, 0.8);
  position: relative;
}

@media only screen and (max-width: 1500px) {
  .optionColumn {
    width: 25%;
    margin: 2%;
  }
  .resultColumn {
    width: 60% !important;
  }
  .sliderColumn{
    width: 60% !important;
  }
}

@media only screen and (max-width: 1400px) {
  .optionColumn {
  }
}

@media only screen and (max-width: 1200px) {
  .optionColumn {
    width: 30%;
  }
  .sliderColumn{
    width: 70% !important;
  }
  .resultColumn {
    width: 70% !important;
  }
}

@media only screen and (max-width: 1000px) {
  .optionColumn {
    width: 30%;
    margin: 1%;
  }
  .questionTitle {
    font-size: 170%;
  }

  .resultColumn {
    width: 80% !important;
  }
}

@media only screen and (max-width: 900px) {
  .optionColumn {
    width: 35%;
  }
}
@media only screen and (max-width: 700px) {
  .optionColumn {
    width: 35%;
  }
  .questionTitle {
    font-size: 140%;
  }
}
@media only screen and (max-width: 600px) {
  .optionColumn {
    width: 40%;
  }
  .questionTitle {
    font-size: 140%;
  }
  .sliderColumn{
    width: 80% !important;
  }
}
@media only screen and (max-width: 500px) {
  .optionColumn {
    width: 45%;
  }
  .questionTitle {
    font-size: 120%;
  }
}
